body {
  box-sizing: border-box;
}

.header__nav {
  background-color: #0000ff;
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
}

.button__delete {
  box-sizing: content-box;
  border-radius: 5%;
  background: rgb(252, 91, 91);
  cursor: pointer;
  margin-left: 5px;
}

.input__delete__reply {
  margin-left: 5px;
}

.card__reply {
  margin-bottom: 20px;
}
