body {
  box-sizing: border-box;
}

.header__nav {
  background-color: #0000ff;
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
}
